<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <!-- The same nav bar that will be used on all other pages -->
        <div>
          Microblog: 
          <!-- 'url_for' directs user back to specific page -->
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
        <!-- Returns a list of previously registeted flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>